<form class="flex flex-col justify-center space-y-2 items-center" #form="ngForm" (submit)="login()">

  <input type="text"
         class="bg-slate-100 rounded-md px-4 py-2 outline-none"
         [(ngModel)]="userNameOrEmail"
         name="userNameOrEmail"
         required
         placeholder="Username or Email"/>

  <div class="relative">
    <input type="password"
           [(ngModel)]="password"
           name="password"
           required
           class="bg-slate-100 rounded-md px-4 py-2 outline-none" placeholder="Password"/>
  </div>

  <button type="submit"
          [disabled]="form.invalid && (form.dirty || form.touched) || form.errors"
          class="font-medium w-full rounded-lg bg-slate-900 py-1.5 px-4 text-white h-[38px] active:scale-[0.97] transition-all duration-150">
    Login
  </button>
</form>

<button type="submit"
        id="google_button"
        class="font-medium my-2 w-full rounded-lg  py-1.5 px-4 text-black h-[38px] active:scale-[0.97] transition-all duration-150 flex justify-center space-x-2">
  <span>
    Login with
  </span>
  <svg-icon src="assets/icons/solid/google.svg">

  </svg-icon>
</button>

<span class="text-gray-400 mt-8">Don't you have an account? <a class="text-black"
                                                               [routerLink]="['../sign-up']">Register</a></span>

