<div class="flex w-full h-full flex-col justify-center">
  <div class="flex w-full p-2 rounded-md flex-row bg-white">
    <app-carousel class="relative w-3/5 z-0 lg:h-72 h-full sm:px-4"
                  [images]="post.medias!">
    </app-carousel>

    <div class="w-2/5 flex-col flex">
      <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
        <a [routerLink]="['/app', 'profile', post.user?.id!]"> <img [src]="post.user?.profileImage?.url!" alt=""
                                                                    class="w-9 h-9 rounded-full"> </a>
        <div class="flex-1">
          <a [routerLink]="['/app', 'users', post.user?.id!]"><h4
            class="text-black dark:text-white"> {{post.user?.firstName!}} {{post.user?.lastName!}}</h4></a>
          <div class="text-xs text-gray-500 dark:text-white/80"> {{post.created! | relativeTime}}</div>
        </div>

        <div class="-mr-1 group relative">
          <button type="button" class="button__ico w-8 h-8" aria-haspopup="true" aria-expanded="false">
            <svg-icon class="text-xl md" src="assets/icons/solid/more-horizontal.svg"></svg-icon>
          </button>
          <div
            class="w-[245px] absolute bg-white rounded-2xl border-[1px] px-2 right-0 top-0 z-50 hidden group-hover:block"
          >
            <nav class="py-2 flex flex-col space-y-1">
              <button
                (click)="savePost(post.id!)"
                class="flex flex-row space-x-2 hover:bg-slate-100 px-4 py-2  rounded-md transition-colors duration-500">
                <svg-icon class="text-xl shrink-0 md "
                          src="assets/icons/solid/bookmark.svg"
                ></svg-icon>
                <span>Add to favorites</span>
              </button>
              <hr>
              <button
                (click)="unfollowUser(post.user?.id!)"
                class="text-red-400 flex flex-row space-x-2 hover:bg-rose-100 px-4 py-2  rounded-md transition-colors duration-500">
                <svg-icon class="text-xl shrink-0 md "
                          src="assets/icons/solid/stop-circle.svg"
                ></svg-icon>
                <span>Unfollow</span>
              </button>
            </nav>
          </div>
        </div>
      </div>
      <span class="sm:px-4 px-2.5 ">{{post.caption}}</span>
      <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
        <div class="flex items-center gap-2.5">
          <button type="button"
                  (click)="likePost(post.id!)"
                  class="p-1 rounded-3xl text-red-500 bg-red-100 dark:bg-slate-700 hover:bg-slate-100 transition-colors duration-300">
            <svg-icon class="text-lg md fill-red-500 "
                      [src]="post.isLiked ? 'assets/icons/solid/heart-s.svg' : 'assets/icons/solid/heart.svg'"
            ></svg-icon>
          </button>
          <a>{{post.likeCount}}</a>
        </div>
        <div class="flex items-center gap-3">
          <button type="button"
                  class="p-1 rounded-3xl text-slate-500 bg-slate-200 dark:bg-slate-700 hover:bg-slate-100 transition-colors duration-300">
            <svg-icon class="text-lg md fill-slate-500 "
                      src="assets/icons/solid/message-circle.svg"
            ></svg-icon>
          </button>
          <a>{{post.commentCount}}</a>
        </div>
        <button type="button" class="button__ico ml-auto">
          <svg-icon class="text-xl md hydrated" role="img"
                    aria-label="paper plane outline"></svg-icon>
        </button>
        <button type="button" class="button__ico">
          <svg-icon class="text-xl md hydrated" role="img" aria-label="share outline"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>
