<a
  [routerLink]="['/app', 'chats', chat.id]"
  class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery">
  <div class="relative w-14 h-14 shrink-0">
    <!--    src="https://picsum.photos/200"-->
    <img [src]="chat.guest?.profileImage?.url"

         alt="" class="object-cover w-full h-full rounded-full">
    <div
      *ngIf="isOnline"
      class="w-4 h-4 absolute bottom-0 right-0  bg-green-500 rounded-full border border-white dark:border-slate-800"></div>
  </div>
  <div class="flex-1 min-w-0">
    <div class="flex items-center gap-2 mb-1.5">
      <div
        class="mr-auto text-sm text-black dark:text-white font-medium">{{chat.guest?.firstName!}} {{chat.guest?.lastName!}}</div>
      <div class="text-xs font-light text-gray-500 dark:text-white/70">09:40AM</div>
      <div *ngIf="isLastMessageRead"
           class="w-2.5 h-2.5 bg-blue-600 rounded-full dark:bg-slate-700"></div>
    </div>
    <div class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap">{{chat.lastMessage?.text!}}
    </div>
  </div>
</a>
