<div class="flex h-screen w-full overflow-hidden">
  <div app-sidebar></div>
  <div class="flex grow flex-col content-start bg-gray-100">
    <div
    class="grow overflow-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio doloribus ipsa iusto laborum molestiae odit officia quidem sed soluta. Deleniti, obcaecati, sed. Aspernatur debitis eum harum ipsam iusto nesciunt.
    </div>
  </div>
</div>
